@import 'assets/css/variables';

.feed {
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;

  &__h1 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: $blue;
    margin: 30px 0;
  }
}
