@import 'assets/css/variables';

.feed {
  padding: 100px 40px 0 40px;
  max-width: 1200px;
  margin: 0 auto;

  &__h1 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: $blue;
    margin: 30px 0;
  }
}

@media screen and (min-width: 1px) and (max-width: 590px) {
  body .feed {
    padding: 100px 10px 0 10px;

    &__h1 {
      margin: 15px 0;
    }
  }
}
