@import 'variables';

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova", "Open Sans", "Helvetica", sans-serif;
}

* {
  box-sizing: border-box !important;
}

.align-center {
  text-align: center;
}

.nav2 {
  display: flex;
  align-items: center;
  background: $blue;
  font-size: 13px;
  position: fixed;
  top: 60px;
  width: 100%;
  box-shadow: 0 0px 8px rgba(0,0,0,0.3);
  z-index: 1000;

  &__block {
    background: $lightblue;
    padding: 0px 25px 0px 40px;
    align-items: center;
    display: inline-flex;
  }

  &__block2 {
    padding: 5px 20px 5px 10px;
    align-items: center;
    display: inline-flex;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

  &__text {
    color: #fff;
    height: 100%;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1px) and (max-width: 590px) {
  body .nav2 {
    &__block {
      padding: 0px 25px 0px 10px;
    }

    &__block2 {
      display: none;
    }
  }
}
