@import 'variables';

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova", "Open Sans", "Helvetica", sans-serif;
}

* {
  box-sizing: border-box !important;
}

.nav {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);

  &__buttons {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin: 0 10px;
  }

  &__button {
    width: 120px;
    text-transform: uppercase;
    color: #777;
    text-align: center;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: #4A4A4A;
      transition: 0.15s;
    }
  }

  &__socials {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
  }

  &__social {
    padding: 0 15px;
    color: $lightblue;
    cursor: pointer;
    font-size: 16px;
    transition: 0.15s;

    &:hover {
      color: $blue;
    }
  }
}

.nav2 {
  display: flex;
  align-items: center;
  background: $blue;
  font-size: 13px;

  &__block {
    background: $lightblue;
    padding: 0px 25px 0px 40px;
    align-items: center;
    display: inline-flex;
  }

  &__block2 {
    padding: 5px 20px 5px 10px;
    align-items: center;
    display: inline-flex;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

  &__text {
    color: #fff;
    height: 100%;
    margin-left: 5px;
  }
}
