#root {
  height: 100%;
}

.preloading {
  animation: preloading 0.6s infinite;
  padding-bottom: 40px;
  padding-top: 20px;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloading h1 {
  color: #4990E2;
  font-weight: 400;
  font-size: 12px;
  animation: preloading 0.6s infinite;
  font-family: 'Open Sans';
}

@keyframes preloading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
