$blue: #4990E2;
$lightblue: #01B2FF;
$lightblue-hl: #42D6FF;
$black: #4A4A4A;

@mixin alignvertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin transition($duration: 150ms) {
  transition: $duration;
  transition-timing-function: ease-in-out;
  -webkit-transition: $duration;
  -webkit-transition-timing-function: ease-in-out;
}

.hidden {
  display: none;
}
