@import 'assets/css/variables';

.feed__item {
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;

  &:hover &__img {
    filter: brightness(1);
    @include transition($duration: 200ms);
  }

  &__h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    margin: 20px 0 0 0;
    position: absolute;
    bottom: 5px;
    left: 10px;
    letter-spacing: 0.6px;
    font-size: 15px;
  }

  &__img {
    position: relative;
    height: 180px;
    width: 100%;
    filter: brightness(0.6);
    background-size: 100% auto;
    background-position: 0 -20px;
    border-radius: 3px;
  }
}

// ANIMATION

.item-appear,
.item-enter {
  opacity: 0.01;
  transform: translateY(2px);
}

.item-appear.item-appear-active,
.item-enter.item-enter-active {
  opacity: 1;
  transform: translateY(0);
  will-change: transform opacity;
  transition: all 500ms ease-out;
}

.item-leave {
  opacity: 1;
}

.item-leave.item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}

@media screen and (min-width: 1px) and (max-width: 1000px) {
  .feed__item {
    &__img {
      background-size: auto 115%;
      background-position: 0 -10px;
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 590px) {
  .feed__item {
    margin-bottom: 15px;

    &__img {
      background-size: auto 115%;
      background-position: 0 -10px;
      height: 120px;
    }
  }
}
