@import 'assets/css/variables';

.modal {
  background: rgba(51, 51, 51, 0.75);
  position: fixed;
  top: 100px;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 30px;
  z-index: 1000;

  &__container {
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
    box-shadow: -2px 2px 40px rgba(0,0,0,0.6);
  }

  &__img {
    width: 100%;
    height: 240px;
    background-size: cover;
    position: relative;
  }

  &__h1 {
    position: absolute;
    bottom: 5px;
    left: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 3px 12px;
    border-radius: 2px;
    letter-spacing: 1px;
    font-weight: 600;
    background: #2f2f2f;
    margin: 0;
    box-shadow: -1px 1px 8px rgba(0,0,0,0.2);
  }

  &__body {
    background: #fff;
    padding: 10px 20px;
    font-size: 15px;
    color: $black;
    font-family: 'Garamond', serif;
    letter-spacing: 0.2px;
    line-height: 24px;
    color: #333;
  }
}

// ANIMATION

.modal-appear,
.modal-enter {
  opacity: 0.01;
}

.modal-appear.modal-appear-active,
.modal-enter.modal-enter-active {
  opacity: 1;
  will-change: opacity;
  transition: opacity 200ms ease-in;
}

.modal-leave {
  opacity: 1;
}

.modal-leave.modal-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

@media screen and (min-width: 1px) and (max-width: 1000px) {
  .modal {
    &__img {
      background-size: auto 115%;
      background-position: 0 -10px;
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 590px) {
  .modal {
    padding: 5px;

    &__body {
      padding: 10px 15px;
    }

    &__p {
      margin: 0;
      padding-bottom: 10px;
    }

    &__img {
      background-size: auto 115%;
      background-position: 0 -10px;
      height: 120px;
    }
  }
}
