@import 'assets/css/variables';

.portfolio {
  &__client {
    background: #eee;
    width: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;

    &__img {
      width: 100%;
      height: auto;
      padding: 10px;
    }

    &__h1 {
      font-size: 16px;
      font-family: 'Open Sans';
      font-weight: 400;
      color: $black;
    }

    &__placeholder {
      font-size: 100px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eee;
      border-radius: 3px;
      height: auto;
      width: 100%;
      animation: portfolio-loading 0.5s infinite;
    }
  }
}

@keyframes portfolio-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1px) and (max-width: 767px) {
  body .portfolio {
    &__client {
      background: #fff;

      &__img {
        background: #fff;
      }
    }

    &__expertise {
      &__img-container {
        padding: 20px;
      }
    }
  }
}
